* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.gap5 {
  gap: 5px;
}

.flex {
  display: flex;
}

.gap10 {
  gap: 10px;
}

.gap20 {
  gap: 20px;
}

.gap30 {
  gap: 30px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  height: min-content;
}

.column {
  display: flex;
  flex-direction: column;
}

input {
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid #a3a3a3;
}

.height100 {
  height: 100%;
}

.width100 {
  width: 100%;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  gap: 10px;
}

section {
  display: flex;
  flex-direction: column;
  background-color: rgb(249, 253, 255);
  padding: 10px;
  border: 1px solid #e6e6e6;
}

button {
  border: none;
  width: fit-content;
  padding: 12px 130px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(35, 138, 255);
  cursor: pointer;
  transition: .3s ease all;
  border-radius: 7px;
  align-self: center;
}
button:hover {
  background-color: rgb(0, 119, 255);
}
.mt100{
  margin-top: 100px;
}
.secondary{
  background-color: rgb(124, 167, 216);
  padding: 12px 80px;
}
.secondary:hover{
  background-color: rgb(98, 153, 216);
}
select{
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
  background-color: transparent;
  cursor: pointer;
}
.third{
  background-color: rgb(124, 167, 216);
  font-size: 16px;
  padding: 12px 40px;
}

.third:hover{
  background-color: rgb(98, 153, 216);
}

.pointer {
  cursor: pointer;
}


.span-tiny-gray {
  color: rgb(122, 122, 122);
  font-size: 14px;
}

.bold {
  font-weight: bold;
}

.green {
  color: #00c400;
}

.red {
  color: #ff0000;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-left {
  justify-content: left;
}

.justify-right {
  justify-content: right;
}

.l60 {
  width: 60%;
}

.r40 {
  width: 40%;
}

.l70 {
  width: 70%;
}

.r30 {
  width: 30%;
}

.r60 {
  width: 60%;
}

.l40 {
  width: 40%;
}

.w100 {
  width: 100%;
}

h1 {
  font-size: 1.5em;
}